<!-- insert the image URl in between the quotation marks, ex: <img src="INSERT IMAGE URL HERE"/> -->

<div id="banner">

<div id="rotator" style="left:-40px;top:-12px;z-index:50;">
  <ul>
    
    <li class="show">
    <a href="http://www.google.com">
    <img src="http://cdn.shopify.com/s/files/1/0040/1862/files/HomePageHolidays.jpg?1289331786"/>
    </a>
    </li>
    
    <li>
    <a href="http://www.ign.com">
    <img src="http://cdn.shopify.com/s/files/1/0040/1862/files/meandk1.jpg?1289331777"/>
    </a>
    </li>
    
    <li>
    <a href="http://www.espn.com"> 
    <img src="http://cdn.shopify.com/s/files/1/0040/1862/files/Holidays20.jpg?1289331777"/>
    </a>
    </li>
    
  </ul>
</div>

<!-- <div id="right-banner">
	<img src="http://cdn.shopify.com/s/files/1/0040/1862/files/Holidays20.jpg?1289331777"/>
</div>
-->
</div>

<br>
<hr>

<!--<img src="http://cdn.shopify.com/s/files/1/0040/1862/products/Cintra_Rose_Front_medium.jpg?1292852815" style="border:4px ridge black;"/>
<img src="http://cdn.shopify.com/s/files/1/0040/1862/products/Ivory7CrystalBracelet_medium.jpg?1292852818" style="border:4px ridge black;"/>
<img src="http://cdn.shopify.com/s/files/1/0040/1862/products/Mayana_Necklace_medium.jpg?1292852822" style="border:4px ridge black;"/>
<img src="http://cdn.shopify.com/s/files/1/0040/1862/products/lula_medium.jpg?1292852822" style="border:4px ridge black;"/>
<img src="http://cdn.shopify.com/s/files/1/0040/1862/products/Ivory7CrystalBracelet_medium.jpg?1292852818" style="border:4px ridge black;"/>
-->

<table id="products" cellspacing="0" cellpadding="0">
  {% tablerow product in collections.all.products cols:4 limit:4 %}
  <div class="product">
    <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}"/></a>
      <h3><a href="{{product.url}}">{{product.title}}</a></h3>
      <div class="money">{{ product.price | money }}</div>
    </div>
    <br />
  </div>
  {% endtablerow %}
</table>
<div id="articles"> {% for article in blogs.latest-news.articles limit: 1 %}
  <h3>{{ article.title }}</h3>
  <div class="article-body textile"> {{ article.content}} </div>
  {% endfor %} 
<hr>

<table id="products" cellspacing="0" cellpadding="0">
  {% tablerow product in collections.all.products cols:4 limit:4 %}
  <div class="product">
    <div class="product-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}"/></a>
      <h3><a href="{{product.url}}">{{product.title}}</a></h3>
      <div class="money">{{ product.price | money }}</div>
    </div>
    <br />
  </div>
  {% endtablerow %}
</table>
<div id="articles"> {% for article in blogs.latest-news.articles limit: 1 %}
  <h3>{{ article.title }}</h3>
  <div class="article-body textile"> {{ article.content}} </div>
  {% endfor %} 
<hr>

<!--<table width="995px">
<tr>
  <td><img src="http://cdn.shopify.com/s/files/1/0040/1862/files/web-homepageSplashbottom.jpg?1281627229" /></td>
  <td> &nbsp;&nbsp; </td>
  <td><img src="http://cdn.shopify.com/s/files/1/0040/1862/files/web-homepageSplashbottom.jpg?1281627229" /></td>
</tr>
</table>-->
